header{
    color: white;
    text-align: center;
}
.hidden{
    display: none;
}
#searchcity{
    margin-right: 10px;
}
#date{
    margin-right: 10px;
}
.list-element{
    width: 300px;
    margin-left: 10px;
}
.col-container{
    background-color: rgba(119, 136, 153, 0.527);
}
#weatherIcon{
    width: 100px;
}