header{
    color: white;
    text-align: center;
}
.hidden{
    display: none;
}
#searchcity{
    margin-right: 10px;
}
#date{
    margin-right: 10px;
}
.list-element{
    width: 300px;
    margin-left: 10px;
}
.col-container{
    background-color: rgba(119, 136, 153, 0.527);
}
#weatherIcon{
    width: 100px;
}
#searchForCity{
    width: 300px;
}

.red{
    background-color:red;
    color: white;
    border-radius: 5px;
}
.orange{
    background-color: orangered;
    color: whitesmoke;
    border-radius: 5px;
}
.green{
    background-color: green;
    color: white;
    border-radius: 5px;
}
.yellow{
    background-color: yellow;
    color: black;
    border-radius: 5px;
}